$('#modal-window2').modal('hide');

$('#benefitsTable tbody').append("<tr id='<%=  @benefit.id %>'><td><%= @benefit.name %></td><td>"+
"<td>$ <%= @benefit.amount %></td>"+
"<td align='center'><%= escape_javascript render(:partial => 'link2DeleteBenefit') %></td></tr>");


//$('#benefitsTable tbody').append("<tr><td><%= @benefit.name %></td>"+
//    "<td>$ <%= @benefit.amount %></td>"+
//    "<td><a href='/benefits/<%= @benefit.id %>' data-method='delete' class='btn btn-sm btn-danger' rel='nofollow' data-remote='true'><span class='glyphicon glyphicon-trash'></span></a></td>"+
//    "<td style='display:none;'><%= @benefit.id %></td></tr>")
$('#benefitsTable').show()