<p id="notice"><%= notice %></p>

<h1>Listado de Personas</h1>
<!--<table class="table table-striped table-hover ">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>#</th>-->
<!--      <th>Column heading</th>-->
<!--      <th>Column heading</th>-->
<!--      <th>Column heading</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <td>1</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>2</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--    </tr>-->
<!--    <tr class="info">-->
<!--      <td>3</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--    </tr>-->
<!--    <tr class="success">-->
<!--      <td>4</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--    </tr>-->
<!--    <tr class="danger">-->
<!--      <td>5</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--    </tr>-->
<!--    <tr class="warning">-->
<!--      <td>6</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--    </tr>-->
<!--    <tr class="active">-->
<!--      <td>7</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--      <td>Column content</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table> -->
<table class="table table-striped table-hover ">
  <thead>
    <tr class='info'>
      <!--<th>Tipo</th>>-->
      <th>Nombre</th>
      <th>Edad</th>
      <!--<th>Civil status</th>-->
      <!--<th>Occupation</th>-->
      <!--<th>Salary</th>-->
      <!--<th>Scolarship</th>-->
      <!--<th>Address</th>-->
      <!--<th>Workplace</th>-->
      <!--<th>Current residence</th>-->
      <!--<th>Relationship</th>-->
      <th>Telefono</th>
      <th>Adminision</th>
      <!--<th>Birth date</th>-->
      <!--<th>Transportation</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <!--<td><%#= person.kind %></td>-->
        <td><%= person.name %></td>
        <td><%= person.age %></td>
        <!--<td><%#= person.civil_status %></td>
        <td><%#= person.occupation %></td>
        <td><%#= person.salary %></td>
        <td><%#= person.scolarship %></td>
        <td><%#= person.address %></td>
        <td><%#= person.workplace %></td>
        <td><%#= person.current_residence %></td>
        <td><%#= person.relationship %></td> -->
        <td><%= person.phone %></td>
        <td><%= person.admission_date %></td>
        <!--<td><%#= person.birth_date %></td>
        <td><%#= person.transportation %></td>-->
        <td><%= link_to person, :class=>"btn btn-default btn-md" do %>
              <%= octicon 'clippy', :height => 20 %>
            <% end %></td>
        <td><%= link_to edit_person_path(person), :class=>"btn btn-default btn-md" do %>
              <%= octicon 'pencil', :height => 20 %>
            <% end %></td>
        <td><%= link_to person, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-default btn-md"  do %>
              <%= octicon 'trashcan', :height => 20 %>
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Agregar Persona', new_person_path, class:'btn btn-md btn-default' %>
