<p id="notice"><%= notice %></p>
<div class='row'>
  <div class='col-xs col-md'>
    <p>
      <strong>Tipo persona:</strong>
      <%= @person.kind %>
    </p>
    <p>
      <strong>Nombre:</strong>
      <%= @person.name %>
    </p>
    <p>
      <strong>Edad:</strong>
      <%= @person.age %>
    </p>
    <p>
      <strong>Sexo:</strong>
      <%= @person.gender %>
    </p>
    <p>
      <strong>Estado civil:</strong>
      <%= @person.civil_status %>
    </p>
    <p>
      <strong>Ocupacion:</strong>
      <%= @person.occupation %>
    </p>
    <p>
      <strong>Salario:</strong>
      <%= @person.salary %>
    </p>
    <p>
      <strong>Escolaridad:</strong>
      <%= @person.scolarship %>
    </p>
    <p>
      <strong>Direccion:</strong>
      <%= @person.address %>
    </p>
    <p>
      <strong>Lugar de Trabajo:</strong>
      <%= @person.workplace %>
    </p>
    <p>
      <strong>Residencia actual:</strong>
      <%= @person.current_residence %>
    </p>
    <p>
      <strong>Parentesco:</strong>
      <%= @person.relationship %>
    </p>
    <p>
      <strong>Telefono:</strong>
      <%= @person.phone %>
    </p>
    <p>
      <strong>Fecha de Admision:</strong>
      <%= @person.admission_date %>
    </p>
    <p>
      <strong>Fecha nacimiento:</strong>
      <%= @person.birth_date %>
    </p>
    <p>
      <strong>Transporte:</strong>
      <%= @person.transportation %>
    </p>
  </div>
</div>
<div class='btn-toolbar'>
  <div class='btn-group'>
    <%= link_to 'Editar', edit_person_path(@person), class:'btn btn-default' %>
    <%= link_to 'Regresar', people_path, class:'btn btn-default' %>
  </div>
</div>