<p id="notice"><%= notice %></p>
<div class='btn-toolbar'>
  <div class='btn-group'>
    <%= link_to 'Editar', edit_person_path(@person), class:'btn btn-default' %>
    <%= link_to 'Regresar', people_path, class:'btn btn-default' %>
  </div>
</div>
<div class='row'>
  <div class='col-xs col-md'>
    <p><strong>Tipo persona:</strong></p>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">SOLICITANTE</h3>
  </div>
  <div class="panel-body be-round_ligth_gray">
    <div class='row'>
      <div class='col-xs col-md-4'>
        <%= image_tag @person.picture, class:'img-rounded img-responsive', size:'210x230'   %>
      </div>
      <div class='col-xs col-md-8'>
        <div class='row'>
          <div class='col-xs col-md-6'>
            <h4><%= @person.name %></h4>
          </div>
          <div class='col-xs col-md-6'>
            <h4>Fecha de admicion: <br><%= icon('calendar') %>  <%= @person.admission_date %><br></h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs col-md-6'>
            <p>
              <strong>Direccion</strong>
              <small><cite><%= @person.address %><i class="glyphicon glyphicon-map-marker"></i></cite></small>
              <strong>Telefono</strong><br>
              <i class="glyphicon glyphicon-phone"></i><%= @person.phone %><br>
              <strong>Edad</strong><br>
              <i class="glyphicon glyphicon-info-sign"></i><%= @person.age %> años<br>
              <strong>Genero</strong><br>
              <% if @person.gender=='M' %>
                <%= icon('male') %> Masculino
              <% else %>
                <%= icon('female') %> Femenino
              <% end %>
              <br>
              <strong>Fecha de nacimiento:</strong><br>
              <%= icon('birthday-cake') %>    <%= @person.birth_date.strftime("%d %B %Y") %><br>
              <strong>Escolaridad</strong><br>
              <%= icon('graduation-cap') %>    <%= @person.scolarship %><br>
            </p>
          </div>
          <div class='col-xs col-md-6'>
            <p>
              <strong>Residencia actual</strong><br>
              <small><cite><%= @person.current_residence %><i class="glyphicon glyphicon-map-marker"></i></cite></small>
              <strong>Estado civil</strong><br>
              <%= icon('street-view') %>   
              <% if @person.gender == 'F' &&  @person.civil_status == 'SOLTERO' %>
                SOLTERA
              <% else %>
                <%= @person.civil_status %>
              <% end %>
              <br>
              <strong>Ocupacion</strong><br>
              <%= octicon "tools", :height => 17,  :class => "right left" %>
              <%= @person.occupation %><br>
              <strong>Lugar de trabajo</strong><br>
              <i class="glyphicon glyphicon-wrench"></i><%= @person.workplace %><br>
              <strong>Salario</strong><br>
              <i class="glyphicon glyphicon-usd"></i><%= @person.salary %><br>
              <strong>Transporte</strong><br>
              <%= icon('bus') %>    <%= @person.transportation %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs col-md-4'>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">RESPONSABLE</h3>
          </div>
          <div class="panel-body be-round_ligth_gray">
            <div class='row'>
              <div class='col-xs col-md-12'>
                <h4><%= @person.responsable.name %></h4>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs col-md-6 '>
                <p>
                  <strong>Edad:</strong><br>
                  <%= icon('history') %>  <%= @person.responsable.age %>
                </p>
                <p>
                  <strong>Sexo:</strong><br>
                  <% if @person.responsable.gender == 'M' %>
                    <%= icon('male') %>
                  <% else %>
                    <%= icon('female') %>
                  <% end %>
                </p>
                <p>
                  <strong>Salario:</strong><br>  
                  <%= icon('usd') %>    <%= @person.responsable.salary %>
                </p>
                <p>
                  <strong>Estado Civil:</strong><br>
                  <%= icon('street-view') %>    <%= @person.responsable.civil_status %>
                </p>
              </div>
              <div class='col-xs col-md-6'>
                <p>
                  <strong>Ocupacion:</strong><br>  
                  <%= @person.responsable.occupation %>
                </p>
                <p>
                  <strong>Relacion:</strong><br>  
                  <%= @person.responsable.relationship %>
                </p>
                <p>
                  <strong>Lugar de Trabajo:</strong><br>
                  <%= @person.responsable.workplace %>
                </p>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs col-md-12'>
                <p>
                  <strong>Direccion:</strong><br>
                  <small><cite><%= @person.responsable.address %><i class="glyphicon glyphicon-map-marker"></i></cite></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs col-md-8'>
        <div class="panel panel-warning">
        <div class="panel-heading">
          <div class='row'>
            <div class='col-xs col-md-11'>
              <h3 class="panel-title">PARIENTES</h3>    
            </div>
            <div class='col-xs col-md-1'>
              <%= link_to new_relative_path, :class=>"btn btn-default btn-md"  do %>
                <%= icon('plus') %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table id='relationships' class="table table-striped table-hover ">
            <thead>
              <tr>
                  <th>NOMBRE</th>
                  <th>PARENTESCO</th>
                  <th>EDAD</th>
                  <th>SEXO</th>
                  <th>OCUPACION</th>
                  <th colspan='2'></th>
              </tr>
            </thead>
            <tbody>
              <% @relatives.each do |relative| %>
                <tr id="<%= relative.id %>">
                  <td><%= relative.name %></td>
                  <td><%= relative.relationship %></td>
                  <td><%= relative.age %></td>
                  <td><%= relative.gender %></td>
                  <td><%= relative.occupation %></td>
                  <td><%= link_to edit_relative_path(relative) , :class=>"btn btn-default btn-md" do %>
                        <%= icon('pencil') %>
                      <% end %>
                  </td>
                  <td><%= link_to relative, method: :delete, data: { confirm: 'Borrara permanentemente el pariente desea continuar?' }, 
                          :class=>"btn btn-default btn-md", remote: true  do %>
                          <%= icon('trash') %>
                      <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
  </div>
  </div>
</div>
<div class="modal fade" id="modal-window" role="dialog"></div>