<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @person.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @person.civil_status %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @person.occupation %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @person.salary %>
</p>

<p>
  <strong>Scolarship:</strong>
  <%= @person.scolarship %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @person.workplace %>
</p>

<p>
  <strong>Current residence:</strong>
  <%= @person.current_residence %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @person.relationship %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Admission date:</strong>
  <%= @person.admission_date %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @person.transportation %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
