<div class='row be-round_ligth_gray'>
  <div class='col-xs col-md-12'>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Caso</a></li>
      <li><a href="#expediture" data-toggle="tab">Gastos</a></li>
      <li><a href="#living" data-toggle="tab">Vivienda</a></li>
    </ul>
  </div>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
      <%= bootstrap_form_for(@request) do |f| %>
        <div class='row be-round_ligth_gray'>
          <div class='container'>
            <div class='row'>
              <div class='col-xs col-md-6'>
                <% if @request.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
                      <ul>
                      <% @request.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class='row be-round_ligth_gray'>
          <div class='col-xs col-md-2'>
            <%= f.text_field_with_bootstrap :case, label:'No. Caso' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.text_field_with_bootstrap :rdate, label:'Fecha Solicitud', class:'xdate' %>
          </div>
          <div class='col-xs col-md-4'>
            <%= f.text_field_with_bootstrap :sent_by, label:'Enviado por' %>
          </div>
          <div class='col-xs col-md-4'>
            <%= f.text_field_with_bootstrap :oriented, label:'Orientado a' %>
          </div>
        </div>
        <div class='row be-round_ligth_gray'>
          <div class='col-xs col-md-3'>
            <%= f.text_field_with_bootstrap :service, label:'Servicio' %>
          </div>
          <div class='col-xs col-md-3'>
            <%= f.text_field_with_bootstrap :qualification, label:'Calificacion' %>
          </div>
          <div class='col-xs col-md-6'>
            <%= f.text_area_with_bootstrap :notes, label:'Observaciones' %>
          </div>
            <%#= f.text_field_with_bootstrap :person_id, label:'Person_id' %> 
        </div>
        <div class='row be-round_ligth_gray'>
          <!--<div class='col-xs col-md-1'>-->
          <!--  <br>-->
          <!--  <a class="btn btn-default" id='addPerson'>-->
          <!--    <%= octicon 'organization', :height => 20 %>-->
          <!--  </a>-->
          <!--</div>-->
          <div class='col-xs col-md-4'>
            <%= bootstrap_form_tag   :html => {id:'commitSearchByName'} do |f| %>
              <%= f.text_field_with_bootstrap :name, label:'Nombre' %>
            <% end %>
          </div>
          <div class='col-xs col-md-1'>
            <br>
            <a id='seachPpl' class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span ></a>
          </div>
         
        </div>
        <div class='row be-round_ligth_gray'>
          <div class='col-xs col-md-2'>
            <%= f.submit class:'btn btn-primary', id:'addRequest'  %>
            <br>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="expediture">
      <%= bootstrap_form_for(@expediture) do |f| %>
        <div class='row be-round_ligth_gray'>
          <div class='col-xs col-md-2'>
            <%= f.number_field_with_bootstrap :feeding, label:'Alimentacion', prepend:'$', append:'.00' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.number_field_with_bootstrap :rent, label:'Renta', prepend:'$', append:'.00' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.number_field_with_bootstrap :electricity, label:'Electricidad', prepend:'$', append:'.00' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.number_field_with_bootstrap :water, label:'Agua', prepend:'$', append:'.00' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.number_field_with_bootstrap :fuel, label:'Gasolina', prepend:'$', append:'.00' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.number_field_with_bootstrap :education, label:'Educacion', prepend:'$', append:'.00' %>
          </div>
        </div>
        <div class='row be-round_ligth_gray'>
          <div class='col-xs col-md-2'>
            <a  class="btn btn-primary" id='addExpediture'>Agregar gasto</a>
          </div>
          <div class='col-xs col-md-2'>
            <a  class="btn btn-primary" id='addBenefit'>Agregar prestacion</a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="living">
       <%= bootstrap_form_for(@livingPlace) do |f| %>
        <div class='row be-round_ligth_gray'>
          <div class='col-xs col-md-2'>
            <%= f.select_with_bootstrap :kind, [['PROPIA'],['RENTADA'],['PRESTADA'],['TERRENO IRREGULAR'],['VIVE CON PARIENTES'],['OTROS']], label:'TIPO' %>
          </div>
          <div class='col-xs col-md-2'>
            <label><br><br>MATERIAL DE VIVIENDA</label>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.select_with_bootstrap :wall_material, [['BLOCK'],['LADRILLO'],['CARTON'],['MADERA'],['AGREGAR']], label:'Pared' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.select_with_bootstrap :roof_material, [['CONCRETO'],['CARTON'],['PALMA'],['AGREGAR']], label:'Techo' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.select_with_bootstrap :floor_material, [['MOSAICO'],['CEMENTO'],['TIERRA'],['AGREGAR']], label:'Piso' %>
          </div>
          <div class='col-xs col-md-2'>
            <%= f.number_field_with_bootstrap :number_of_rooms, label:'No.cuartos', prepend:'#' %>
          </div>
        </div>
        <div class='row be-round_ligth_gray'>
          <%= f.form_group do %>
            <div class='col-xs col-md-2'>
              <%= f.check_box_with_bootstrap :has_beedroom, label:'Recamara' %>
            </div>
            <div class='col-xs col-md-2'>
              <%= f.check_box_with_bootstrap :has_kitchen, label:'Cocina' %>
            </div>
            <div class='col-xs col-md-2'>
              <%= f.check_box_with_bootstrap :has_dinningroom, label:'Comedor' %>
            </div>
            <div class='col-xs col-md-2'>
              <%= f.check_box_with_bootstrap :has_bathroom, label:'Baño' %>
            </div>
          <% end %>
        </div>
        <div class='row be-round_ligth_gray'>
          <div class='col-xs col-md-2'>
            <a  class="btn btn-primary" id='addService'>otro servicio</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="modal-window2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
