<h5>OTROS GASTOS</h5>
<table id="tblEdOExpeditures" class="table table-striped table-hover">
    <thead>
        <th>Descripcion</th>
        <th>Cantidad</th>
        <th colspan=2></th>
    </thead>
    <tbody>
        <% @otherExpeditures.each do |oe| %>
        <tr id="<%= oe.id %>" >
            <td><%= oe.name %></td>
            <td align='center'><%= oe.amount %></td>
            <td><%= link_to edOExpediture_requests_path(oe), remote:true, class:'bnt btn-xs btn-primary' do %>
                    <%= icon('pencil') %>
                <% end %>
            </td>
            <td><%= link_to oe, method: :delete, remote:true, data: { confirm: 'Eliminara esta prestacion esta seguro?' }, class:'btn btn-primary btn-xs' do %>
                    <%= icon('trash-o') %>
                <% end %>
            </td>
        </tr>
        <% end %>
        
    </tbody>
    
</table>