<table id="tblEdBenefits" class="table table-striped table-hover">
    <thead>
        <th>Descripcion</th>
        <th>Cantidad</th>
        <th colspan=2></th>
    </thead>
    <% @benefits.each do |b| %>
    <tbody>
        <td><%= b.name %></td>
        <td><%= b.amount %></td>
        <td><%= link_to edBenefit_requests_path(b), remote:true, class:'bnt btn-xs btn-primary' do %>
                    <%= icon('pencil') %></td>
            <% end %>
            <td><%= icon('trash-o') %></td>
    </tbody>
    <% end %>
</table>