<h5>PRESTACIONES</h5>
<table id="tblEdBenefits" class="table table-striped table-hover">
    <thead>
        <th>Descripcion</th>
        <th>Cantidad</th>
        <th colspan=2></th>
    </thead>
    <% @benefits.each do |b| %>
    <tbody>
        <tr id="<%= b.id %>">
            <td><%= b.name %></td>
            <td align='center'><%= b.amount %></td>
            <td><%= link_to edBenefit_requests_path(b), remote:true, class:'bnt btn-xs btn-primary' do %>
                    <%= icon('pencil') %>
                <% end %>
            </td>
            <td><%= link_to b, method: :delete, remote:true, data: { confirm: 'Eliminara esta prestacion esta seguro?' }, class:'btn btn-primary btn-xs' do %>
                    <%= icon('trash-o') %>
                <% end %>
            </td>
        </tr>
    </tbody>
    <% end %>
</table>