<h1>Edicion de Solicitudes</h1>
<p id="notice"><%= notice %></p>
<div class='row'>
    <div class='col-xs col-md-12'>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#request" data-toggle="tab">Caso</a></li>
             <li id='expeditures_edition'><a href="#expeditures" data-toggle="tab">Gastos</a></li>
             <li id='living_edition'><a  href="#living" data-toggle="tab">Vivienda</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="request">
                <%= bootstrap_form_for(@request) do |f| %>
                    <div class='row'>
                        <div class='col-xs col-md-12'>
                            <% if @request.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
                                  <ul>
                                  <% @request.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                                  </ul>
                                </div>
                            <% end %>
                            
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs col-md-2 boll'>
                            <br>
                            <%= image_tag @person.picture, class:'img-rounded img-responsive showme', size:'232x253'   %>
                        </div>
                        <div class='col-xs col-md-10'>
                            <div class='row'>
                                <div class='col-xs col-md-2 '>
                                    <%= f.text_field_with_bootstrap :case, label:'No. Caso' %>
                                </div>
                                <div class='col-xs col-md-2 '>
                                    <%= f.text_field_with_bootstrap :rdate, label:'Fecha Solicitud', class:'xdate' %>
                                </div>
                                <div class='col-xs col-md-6 '>
                                    <%= f.text_field_with_bootstrap :sent_by, label:'Enviado por', class:'ups' %>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xs col-md-2 '>
                                    <%= f.text_field_with_bootstrap :service, label:'Servicio', class:'ups' %>
                                </div>
                                <div class='col-xs col-md-2 '>
                                    <%= f.text_field_with_bootstrap :qualification, label:'Calificacion', class:'ups' %>
                                </div>
                                <div class='col-xs col-md-6 '>
                                    <%= f.text_field_with_bootstrap :oriented, label:'Orientado a', class:'ups' %>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-xs col-md-10 '>
                                    <%= f.text_area_with_bootstrap :notes, label:'Observaciones', class:'ups' %>
                                 </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


<%= link_to 'Show', @request %> |
<%= link_to 'Back', requests_path %>
