<p id="notice"><%= notice %></p>

<h1>Listado de Solicitudes</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr class='info'>
      <th>Caso</th>
      <th>Solicitado</th>
      <th>Enviado x</th>
      <th>Orientado a</th>
      <th>Servicio</th>
      <th>Notas</th>
      <th>Calificacion</th>
      <th>Persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.case %></td>
        <td><%= request.rdate %></td>
        <td><%= request.sent_by %></td>
        <td><%= request.oriented %></td>
        <td><%= request.service %></td>
        <td><%= request.notes %></td>
        <td><%= request.qualification %></td>
        <td><%= request.person %></td>
        <td><%= link_to request, :class=>"btn btn-default btn-md" do %>
              <%= octicon 'clippy', :height => 20 %>
            <% end %></td>
        <td><%= link_to edit_request_path(request), :class=>"btn btn-default btn-md" do %>
              <%= octicon 'pencil', :height => 20 %>
            <% end %></td>
        <td><%= link_to request, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-default btn-md"  do %>
              <%= octicon 'trashcan', :height => 20 %>
            <% end %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path, class:'btn btn-md btn-default' %>
